.container {
  width: 50%;
  height: 5rem;
  background-color: aqua;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.item {
  width:100%;
  height: 100%;
  background-color: rgb(255, 127, 150);
  border: 1px solid black;
}
.item>p{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}
.item-selected {
  background-color: rgb(221, 255, 127);
  border: 1px solid black;
}
